body {
  margin: 0 0 0 0;
}
h1 {
  font-family: DK Liquid Embrace;
  src: url("https://www.dafont.com/dk-liquid-embrace.font");
  font-size: 70px;
  text-align: center;
  background-color: #C9D0FF;
  grid-column: 1 / span 2;
  grid-row: 1;
  padding-bottom: 5px;
  text-shadow: 2px 2px 4px white;
  border-bottom: 5px groove black;
  margin: 0 0 0 0;
}
form {
  background-color: #BDA1E8;
  grid-column: 1 / span 2;
  grid-row: 2;
  padding: 10px;
  border-top: 1px solid black;
  height: 100vh;
}
img {
  height: 300px;
  width: 300px;
  border: 1px solid black;
}
section {
  background-color: #BDA1E8;
  text-align: center;
  font-family: Code Bold;
  url: src("https://www.dafont.com/code.font");
  font-size: 50px;
  padding: 10px 10px 10px 10px;
  margin-top: 0;
  border-top: 1px solid black;
  height: 100vh;
  grid-column: 2 / span 1;
  grid-row: 1;
}
iframe {
  grid-column: 1 / span 1;
  grid-row: 2;
}
