body {
  display: grid;
  grid-template-rows: 100px auto;
  grid-template-columns: 200px auto;
  height: 100vh;
  margin: 0 0 0 0;
}
header {
  font-family: DK Liquid Embrace;
  font-size: 100px;
  text-align: center;
  background-color: #C9D0FF;
  grid-column: 1 / span 2;
  grid-row: 1;
  text-shadow: 2px 2px 4px white;
  border-bottom: 1px solid black;
}
nav {
  background-color: #BDA1E8;
  font-family: Code Bold;
  border-right: 1px solid black;
}
section {
  padding: 10px;
}
ul {
  list-style: none;
}
li {
  padding: 10px;
}
a {
  text-decoration: none;
}
