<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/styles/artists.css"
    <meta charset="utf-8">
    <title>Artist Page</title>
  </head>
  <body>
    <h1>{{ name }}'s Page</h1>
    <section>
      <p><img src="/media/{{ image }}"></p>
      <p> "{{ biography }}" </p>
    </section>
      <iframe src="https://open.spotify.com/embed/artist/{{ spotify_link }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </body>
</html>
